<html>
<head>
    <meta http-equiv="Refresh" content="15"/>
    <style>
        .RUNNING {
            background: green;
        }
        .FAILED {
            background: red;
        }
        .STARTING {
            background: yellow;
        }
        .RESTARTING {
            background: magenta;
        }
        .STOPPED {
            background: gray;
        }
        .ZOMBIE {
            background: brown;
        }
    </style>
</head>
<body>
    <h1>Supervisor version {{.Version}}</h1>
    <p>
        <a href="?mode=ui&action=restart">Restart all</a>&nbsp;
        <a href="?mode=ui&action=stop">Stop all</a>&nbsp;
        <a href="?mode=ui&action=run">Start all</a>&nbsp;
        <a target="_blank" href="?mode=log">Log</a>
    </p>
    {{$groups := .Groups}}
    <table border="1" cellspacing="1" cellpadding="5">
        <tr><th>Name</th><th>State</th><th>TryCount</th><th>Error</th><th>Log</th></tr>
        {{range $grp := $groups}}
        <tr>
            <td colspan="5" align="center"><i>Group: <b>{{$grp.Name}}</b></i>
                <a href="?mode=ui&group={{$grp.Name}}&action=restart">Restart</a>
                <a href="?mode=ui&group={{$grp.Name}}&action=stop">Stop</a>
                <a href="?mode=ui&group={{$grp.Name}}&action=run">Start</a>
            </td>
        </tr>
            {{range $proc := $grp.Procs}}
            <tr class="{{$proc.State}}">
                <td>{{$proc.Name}}</td>
                <td>{{$proc.State}}</td>
                <td align="right">{{$proc.Try}}</td>
                <td>{{$proc.Err}}</td>
                <td>
                    {{if $proc.LogStdout}}
                    <a target="_blank" href="{{$grp.Name}}/{{$proc.Name}}/stdout">stdout</a>
                    {{end}}
                    {{if $proc.LogStderr}}
                    <a target="_blank" href="{{$grp.Name}}/{{$proc.Name}}/stderr">stderr</a>
                    {{end}}
                </td>
            </li>
            {{else}}
            <tr><td colspan="5">&nbsp;</td></tr>
            {{end}}
            </ul>
        </li>
        {{else}}
        <tr><td colspan="5">&nbsp;</td></tr>
        {{end}}
    </table>
    </ul>
</body>
</html>
